:root {
  /* основной цвет фона */
  --primary-background-color: #ffffff;
  /* дополнительный цвет фона */
  --background-color: #f5f4fa;
  /* дополнительный цвет подложки */
  --pas-background-color: #e5e5e5;

  /* основной цвет текста */
  --title-text-color: #212121;
  /* дополнительный цвет текста */
  --accent-text-color: #757575;
  /* основной цвет текстового акцента */
  --primary-text-color: #ffffff;
  /* дополнительный цвет текстового акцента */
  --logo-text-color: #000000;
  /* основной цвет акцента */
  --accent-color: #2196f3;
  /* основной цвет фона hero*/
  --hero-background-color: #2f303a;
  --accent-background-dark-button: #188ce8;

  /* основные шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* на флексах */
  --card-set-gap: 15px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* body */
body {
  background-color: var(--primary-background-color);
  color: var(--title-text-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
}

p {
  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section.no-padding {
  padding-top: 0;
  /* padding-bottom: 0; */
}

h1,
h2,
h3,
p {
  margin: 0;
}

.employeer h3 {
  margin: 30px 0 10px 0;
}

/* container */
.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
  /* background-color: #188ce8; */
  /* outline: 1px solid tomato; */
}

.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  /* background-color: rgb(166, 218, 45); */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo */
.logo {
  color: var(--logo-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-right: 93px;
}

.primary {
  padding: 24px;
}

.type {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .item {
  /* outline: 1px solid rgb(228, 134, 11); */
}

.site-nav .item + .item {
  margin-left: 50px;
}

.item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* nav */
/* убрать подчеркивание по ховеру */
.site-nav .link,
.site-nav .link.current:hover {
  color: var(--title-text-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
/* контакті по ховеру */
.site-nav .link:hover,
.site-nav .link:focus,
.address-nav .link:hover,
.address-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
/* убрать точечку */

.nav {
  display: flex;
  align-items: center;
}

.list-team {
  display: flex;
  /* outline: 1px solid rgb(228, 134, 11); */
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

/* auth nav */
.auth-nav .link {
  color: var(--accent-text-color);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* outline: 1px solid tomato; */
}
.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  text-align: center;
  background-color: var(--hero-background-color);
  padding-bottom: 200px;
  padding-top: 200px;
  /* margin-bottom: между секциями быть не может, только падинг; */
}

.hero-title {
  color: var(--primary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.8;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--accent-background-dark-button);
}

/* main */
/* section feature */

section.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* background-color: rgb(8, 7, 7); */
}

.title {
  margin-bottom: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  padding-top: 0;
  margin-bottom: 50px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.feature-list {
  display: flex;
  justify-content: space-between;
  /* width: 255px; */
}

.feature-item {
  width: 270px;
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

/* .container.section {
  margin-right: 15px;
} */

.work-section-item {
  display: block;
}

.work-section-item:not(:last-child) {
  margin-right: 30px;
}

.comand .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.comand p {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* .comand-item {
  /* border: ; */
.comand-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.comand-item:not(:last-child) {
  margin-right: 30px;
}

.comand-type {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-employeer {
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address-nav .link {
  color: #ffffff96;
  text-decoration: none;
}

.address-nav p {
  color: var(--primary-text-color);
  text-decoration: none;
}
.page-header {
  border-radius: o;
  /* box-shadow: var(--card-shadow); */
}

/* page Portfolio */
/* radiobuttons */
.stick.button {
  background-color: var(--background-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  display: block;
  border: none;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.stick:hover,
.stick:active {
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
}

.button.button:visited {
  /* background-color: var(--accent-color); */
  color: var(--primary-text-color);
}

.grid.section-title {
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  text-align: left;
  letter-spacing: 0.06em;
  margin: 20px 0 0 24px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-link p {
  font-size: 16px;
  line-height: 1.87;
}

address {
  font-style: normal;
}

footer {
  background-color: var(--hero-background-color);
  --new-accent: var(--primary-background-color);
  color: var(--new-accent);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer.logo {
  color: var(--primary-background-color);
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-text {
  margin-bottom: 9px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.card-set {
  padding: 0;
  margin-top: 30px;
  margin-left: 30px;
  list-style: none;
  /* outline: 1px solid fuchsia; */
  display: flex;
  flex-wrap: wrap;
}

.card-set > .grid-item {
  display: block;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  /* background: #188ce8; */
}

/* CARD */
.card {
  box-shadow: var(--card-shadow);
  border-radius: 1px;
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-text {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.grid-item {
  /* outline: 1px solid rgb(89, 23, 243); */
}
